@CHARSET "UTF-8";



	div#content{
		
		min-height:250px;
		margin:50px auto;
	}
	
	div#content table{
		width:100%;
		margin:20px 0;
		border-collapse:collapse;
		border:3px solid #aaaaff;
	}
	div#content table td,th{
		margin:0px;
		padding:5px;
		border:1px solid #aaaaff;
		height:24px;
	}
	div#content>h1{
		font-size:2.5em;
		font-weight:bold;
		text-align:center;
		
	}
